<%= form_with(model: project, local: true, html: {class: 'form'}) do |form| %>
  <% if project.errors.any? %>
    <div class="bs-callout bs-callout-danger" id="project-errors-block">
      <h4><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h4>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id %>

  <div class="form-group row">
    <div class="col-sm-4">
      <%= form.label :namespace, 'Namespace' %>
      <%= form.select :namespace, options_for_select(@available_projects), {prompt: 'Please select from the list of your available projects'}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit 'Register Project', class: 'btn btn-lg btn-success', id: 'save-project' %>
  </div>
<% end %>
