<h1><%= @user_workspace.name %></h1>
<dl class="row">
  <dt class="col-sm-3">Project</dt>
  <dd class="col-sm-9">
    <%= @user_workspace.namespace %>
    <%= link_to "View Workspace <i class='fas fa-search'></i>".html_safe, firecloud_link_for(@user_workspace.full_name),
                class: 'btn btn-primary btn-sm float-right' %>
  </dd>
  <dt class="col-sm-3">Reference Analysis</dt>
  <dd class="col-sm-9">
    <%= @user_workspace.reference_analysis.analysis_wdl %>
    <%= link_to "View Reference Analysis WDL <i class='fas fa-code'></i>".html_safe,
                get_analysis_wdl_path(project: @user_workspace.namespace, name: @user_workspace.name),
                class: 'btn btn-secondary btn-sm float-right', id: 'get-reference-wdl', data: { remote: true } %>
  </dd>
</dl>

<div id="reference-wdl-content-target"></div>

<script type="text/javascript">

    $('#get-reference-wdl').on('click', function() {
        $(this).addClass('disabled');
        return true;
    });

</script>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link user-analysis-nav <%= @user_analysis.new_record? ? 'active' : nil %>" href="#user-analysis" role="tab" data-toggle="tab">My Analysis <i class="fas fa-fw fa-flask"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link user-analysis-nav <%= @user_analysis.new_record? ? nil : 'active' %>" href="#benchmark-submissions" role="tab" data-toggle="tab">Benchmark Submissions <i class="fas fa-fw fa-project-diagram"></i></a>
  </li>
</ul>

<div class="tab-content top-pad-small">
  <div role="tabpanel" class="tab-pane fade <%= @user_analysis.new_record? ? 'show active' : nil %>" id="user-analysis">
    <%= render partial: 'user_analysis_form', locals: {user_analysis: @user_analysis} %>
  </div>
  <div role="tabpanel" class="tab-pane fade <%= @user_analysis.new_record? ? nil : 'show active' %>" id="benchmark-submissions">
    <%= render partial: 'user_workspaces/benchmark_analyses/benchmark_analyses' %>
    <%= render partial: 'user_workspaces/submissions/history' %>
  </div>
</div>

<p><%= link_to "<i class='fas fa-fw fa-chevron-left'></i> Back".html_safe, user_workspaces_path, class: 'btn btn-sm btn-warning' %></p>
