<%= nested_form_for(reference_analysis, html: {class: 'form', id: 'reference-analysis-form', multipart: true}) do |form| %>
  <% if reference_analysis.errors.any? %>
    <div class="bs-callout bs-callout-danger" id="reference-analysis-errors-block">
      <h4><%= pluralize(reference_analysis.errors.count, "error") %> prohibited this reference analysis from being saved:</h4>

      <ul>
      <% reference_analysis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-sm">
      <%= form.label :firecloud_project %>
      <%= form.text_field :firecloud_project, class: 'form-control' %>
    </div>

    <div class="col-sm">
      <%= form.label :firecloud_workspace %>
      <%= form.text_field :firecloud_workspace, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <%= form.label :analysis_wdl, 'Analysis WDL' %>
      <%= form.text_field :analysis_wdl, class: 'form-control' %>
    </div>

    <div class="col-sm">
      <%= form.label :benchmark_wdl, 'Benchmark WDL' %>
      <%= form.text_field :benchmark_wdl, class: 'form-control' %>
    </div>

    <div class="col-sm">
      <%= form.label :orchestration_wdl, 'Orchestration WDL' %>
      <%= form.text_field :orchestration_wdl, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <h4>Required Inputs/Outputs</h4>
      <p class="text-muted">These are input/output parameters that are used to validate user-supplied analyses when attempting
        to benchmark this reference analysis.  If the supplied analysis does not conform to this list, then it will not
        run when imported into the orchestration WDL.  You can add these parameters manually, or they will auto-populate
        from the analysis WDL inputs/ouputs when the record is first created.</p>
      <%= form.fields_for :reference_analysis_data, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <%= form.link_to_add "<span class='fa fa-plus'></span> Add input/output parameters".html_safe,
                           :reference_analysis_data, class: 'btn btn-sm btn-primary', id: 'add-reference-analysis-data' %>
      <% if !reference_analysis.new_record? %>
        <%= link_to "<span class='fas fa-sync-alt'></span> Reset Parameters to Defaults".html_safe,
                    reset_wdl_params_reference_analysis_path, method: :put, class: 'btn btn-sm btn-danger',
                    data: {toggle: 'tooltip'}, title: 'Reset all input/output parameters to defaults from WDL' %>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <h4>Additional Options</h4>
      <%= form.fields_for :reference_analysis_options %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm">
      <%= form.link_to_add "<span class='fa fa-plus'></span> Add options".html_safe, :reference_analysis_options,
                           class: 'btn btn-sm btn-secondary', id: 'add-reference-analysis-options' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm">
      <%= form.label :submit, "&nbsp;".html_safe %><br />
      <%= form.submit 'Save', class: 'btn btn-success', id: 'save-reference-analysis' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">

    $('#save-reference-analysis').on('click', function() {
        $('#generic-modal-title').html('Validating WDLs... Please Wait');
        launchModalSpinner('#generic-modal-spinner', '#generic-modal', function() { return true;})
    })

</script>