<h2><%= @reference_analysis.display_name %></h2>
<h3>WDLs</h3>
<dl class="row">
  <dt class="col-sm-3">Reference Analysis WDL</dt>
  <dd class="col-sm-9"><%= link_to "#{@reference_analysis.analysis_wdl} <i class='fas fa-external-link-alt'></i>".html_safe,
                                   @reference_analysis.wdl_view_url(:analysis_wdl), class: 'btn btn-sm btn-outline-primary',
                                   target: :_blank %>
  </dd>
  <dt class="col-sm-3">Benchmark WDL</dt>
  <dd class="col-sm-9"><%= link_to "#{@reference_analysis.benchmark_wdl} <i class='fas fa-external-link-alt'></i>".html_safe,
                                   @reference_analysis.wdl_view_url(:benchmark_wdl), class: 'btn btn-sm btn-outline-primary',
                                   target: :_blank %>
  </dd>
  <dt class="col-sm-3">Orchestration</dt>
  <dd class="col-sm-9"><%= link_to "#{@reference_analysis.orchestration_wdl} <i class='fas fa-external-link-alt'></i>".html_safe,
                                   @reference_analysis.wdl_view_url(:orchestration_wdl), class: 'btn btn-sm btn-outline-primary',
                                   target: :_blank %>
  </dd>
</dl>
<h3>Required Inputs/Outputs</h3>
<p class="text-muted">These are input/output parameters that are used to validate user-supplied analyses when attempting
  to benchmark this reference analysis.  If the supplied analysis does not conform to this list, then it will not
  run when imported into the orchestration WDL.</p>
<table id="reference-analysis-data" class="table table-striped table-active">
  <thead>
    <tr>
      <th>Type</th>
      <th>Parameter Format</th>
      <th>Call Name</th>
      <th>Parameter Name</th>
      <th>Optional</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
      <% @reference_analysis.reference_analysis_data.each do |parameter| %>
        <tr>
          <td><%= parameter.data_type %></td>
          <td><%= parameter.parameter_type %></td>
          <td><%= parameter.call_name %></td>
          <td><%= parameter.parameter_name %></td>
          <td>
            <% if parameter.data_type == 'inputs' %>
              <%= parameter.optional ? "<i class='fas fa-check-circle text-success'></i>".html_safe : "<i class='fas fa-times-circle text-danger'></i>".html_safe %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td><%= parameter.parameter_value %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<% if @reference_analysis.options.any? %>
  <h3>Extra Options</h3>
  <dl class="row">
    <% @reference_analysis.options.each do |name, value| %>
        <dt class="col-sm-3"><%= name %></dt>
        <dd class="col-sm-9"><%= value %></dd>
    <% end %>
  </dl>
<% end %>

<p>
  <%= link_to "<i class='fas fa-fw fa-edit'></i> Edit".html_safe, edit_reference_analysis_path(@reference_analysis), class: 'btn btn-sm btn-primary' %>
  <%= link_to "<i class='fas fa-fw fa-chevron-left'></i> Back".html_safe, reference_analyses_path, class: 'btn btn-sm btn-warning' %>
</p>

<script type="text/javascript">

    $('#reference-analysis-data').DataTable({
        pagingType: 'full_numbers'
    });

</script>