<div class="row">
  <div class="col-md">
    <h3>Reference Pipelines</h3>
    <table class="table table-active table-striped datatable" id="methods-table">
      <thead class="thead-light">
      <tr>
        <th>Method</th>
        <th>Version</th>
        <th>Synopsis</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @methods.each do |method| %>
        <tr>
          <td><%= method[:namespace] %>/<%= method[:name] %></td>
          <td><%= method[:snapshot] %></td>
          <td><%= method[:synopsis] %></td>
          <td>
            <%= link_to "View WDL <i class='fa fa-fw fa-code'></i>".html_safe,
                          view_pipeline_wdl_path(namespace: method[:namespace],
                                                 name: method[:name],
                                                 snapshot: method[:snapshot]),
                          class: 'btn btn-outline-primary btn-sm view-pipeline-wdl',
                          data: {remote: true,
                                 id: "#{method[:identifier]}"
                          } %>
            <% if method[:reference_workspace].present? %>
              <%= link_to "Benchmark <i class='fas fa-fw fa-project-diagram'></i>".html_safe, firecloud_link_for(method[:reference_workspace]), class: 'btn btn-outline-dark btn-sm' %>
            <% end %>
            <% if method[:documentation_link].present? %>
              <%= link_to "Info <i class='fas fa-fw fa-info-circle'></i>".html_safe, method[:documentation_link], class: 'btn btn-outline-secondary btn-sm', target: :_blank %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="wdl-content-target">

  </div>

  <script type="text/javascript">

      $('#methods-table').DataTable({
          pagingType: 'full_numbers',
          order: [[0, 'asc'],[1, 'desc']]
      });

      $('#methods-table').on('click', '.view-pipeline-wdl', function (e) {
          var btn = e.target;
          $(btn).addClass('disabled');
      });

  </script>
</div>