<%= form_with(model: @fire_cloud_profile, url: update_user_profile_path, local: true, html: {class: 'form', id: 'firecloud-profile'}) do |f| %>
  <%= f.hidden_field :email %>
  <div class="bs-callout bs-callout-primary">
    <p class="text-primary">Use this form to register or update your user profile for Unity. <span class="text-danger"><i class="fa fa-fw fa-exclamation-triangle"></i> All fields are required.</span></p>
  </div>
  <% if @fire_cloud_profile.errors.any? %>
    <div class="bs-callout bs-callout-danger" id="study-errors-block">
      <h4><%= pluralize(@fire_cloud_profile.errors.count, "error") %> prohibited this profile from being saved:</h4>
      <ul>
        <% @fire_cloud_profile.errors.keys.each do |key| %>
          <li id="profile_error_<%= key %>"><%= @fire_cloud_profile.errors.full_messages_for(key).first %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <h4>User Info</h4>
    <div class="row">
      <div class="col-md">
        <%= f.label :firstName, 'First Name' %><br />
        <%= f.text_field :firstName, class: 'form-control' %>
      </div>
      <div class="col-md">
        <%= f.label :lastName, 'Last Name' %><br />
        <%= f.text_field :lastName, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <%= f.label :title %><br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="col-md">
        <%= f.label :contactEmail, 'Contact Email for Notifications' %><br />
        <%= f.text_field :contactEmail, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <%= f.label :institute %><br />
        <%= f.text_field :institute, class: 'form-control' %>
      </div>
      <div class="col-md">
        <%= f.label :institutionalProgram, 'Institutional Program' %><br />
        <%= f.text_field :institutionalProgram, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <h4>Program Info</h4>
    <div class="row">
      <div class="col-md">
        <%= f.label :nonProfitStatus, 'Non-Profit Status' %><br />
        <%= f.select :nonProfitStatus, options_for_select([['Non-Profit', 'true'], ['For-Profit', 'false']], @fire_cloud_profile.nonProfitStatus), {}, class: 'form-control' %>
      </div>
      <div class="col-md">
        <%= f.label :pi, 'Principal Investigator' %><br />
        <%= f.text_field :pi, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <%= f.label :programLocationCity, 'City' %><br />
        <%= f.text_field :programLocationCity, class: 'form-control' %>
      </div>
      <div class="col-md">
        <%= f.label :programLocationState, 'State/Province' %><br />
        <%= f.text_field :programLocationState, class: 'form-control' %>
      </div>
      <div class="col-md">
        <%= f.label :programLocationCountry, 'Country' %><br />
        <%= f.text_field :programLocationCountry, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <p class="text-muted">By registering for Unity, you are creating an account on <%= link_to 'FireCloud', 'https://firecloud.org' %>. You will receive an email from help@firecloud.org confirming your account.</p>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm text-center">
      <br />
      <%= link_to 'Update Profile', 'javascript:;', class: 'btn btn-lg btn-success', id: 'update-user-firecloud-profile', data: {'saving-text' => 'Saving Profile...'} %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
    $('#update-user-firecloud-profile').click(function(event) {
        var formElements = $('#firecloud-profile .form-control');
        var valid = true;
        formElements.each(function(index, el) {
            if ($(el).val() === '' ) {
                valid = false;
                return valid;
            }
        });
        if (!valid) {
            helpers.setErrorOnBlank(formElements);
            alert('You have not filled out all required fields.');
        } else {
            var btn = $('#update-user-firecloud-profile');
            btn.button('saving');
            $('#firecloud-profile').submit();
        }
    });
</script>