<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark unity-navbar">
    <%= link_to "<i class='fas fa-home'></i> Unity Benchmarking Service".html_safe, root_path %>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "About Us", about_us_path, class: 'nav-link', id: 'about-us-nav' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="help-nav" data-toggle="dropdown" role="button" href="#"><i class="fas fa-question-circle"></i> Help</a>
          <div class="dropdown-menu">
            <%= link_to "<i class='fas fa-fw fa-balance-scale'></i> Privacy Policy".html_safe, privacy_policy_path, class: 'dropdown-item' %>
            <%= link_to "<i class='fas fa-fw fa-info-circle'></i> Documentation/Wiki".html_safe, 'https://github.com/HumanCellAtlas/unity/wiki', class: 'dropdown-item', target: :_blank %>
            <%= link_to "<i class='fas fa-fw fa-exclamation-triangle'></i> Issues".html_safe, 'https://github.com/HumanCellAtlas/unity/issues', class: 'dropdown-item', target: :_blank %>
            <%= link_to "<i class='fab fa-fw fa-github'></i> Source Code".html_safe, 'https://github.com/HumanCellAtlas/unity', class: 'dropdown-item', target: :_blank %>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="profile-nav"><i class="fas fa-user"></i> <%= current_user.full_name %></a>
            <div class="dropdown-menu dropdown-menu-right">
            <% if current_user.admin? %>
              <%= link_to "<i class='fas fa-fw fa-lock'></i> Admin Control Panel".html_safe, admin_configurations_path, class: 'dropdown-item', id: 'admin-panel-nav' %>
              <%= link_to "<i class='fas fa-fw fa-flask'></i> Reference Analyses".html_safe, reference_analyses_path, class: 'dropdown-item', id: 'reference-analyses-nav' %>
              <div class="dropdown-divider"></div>
            <% end %>
              <%= link_to "<i class='fas fa-fw fa-user'></i> My Profile".html_safe, profile_path, class: 'dropdown-item', id: 'firecloud-profile-nav' %>
              <%= link_to "<i class='fas fa-fw fa-folder'></i> My Billing Projects".html_safe, projects_path, class: 'dropdown-item', id: 'billing-projects-nav' %>
              <%= link_to "<i class='fas fa-fw fa-project-diagram'></i> My Benchmarks".html_safe, user_workspaces_path, class: 'dropdown-item', id: 'user-workspaces-nav' %>
              <%= link_to "<i class='fas fa-fw fa-sign-out-alt'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete, class: 'dropdown-item', id: 'logout-nav' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "<i class='fas fa-sign-in-alt'></i> Sign In".html_safe, user_google_oauth2_omniauth_authorize_path, id: 'login-nav' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>