<!DOCTYPE html>
<html>
  <head>
    <title>Unity Benchmark Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="<%= ENV['GOOGLE_SITE_VERIFICATION_CODE'] %>" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js' %>
  </head>

  <body>
    <%= render partial: 'layouts/nav' %>
    <%= render partial: 'layouts/notices' %>
    <main role="main" id="wrap" class="container-fluid">
      <div class="top-pad-60" id="main-body">
        <%= yield %>
      </div>
    </main>
    <div id="generic-update-modal-target"></div>
    <%= render partial: 'layouts/generic_modal' %>
    <%= render partial: 'layouts/footer' %>
  </body>

  <script type="text/javascript">
    enableDefaultActions();
    PAGE_RENDERED = true;
  </script>
</html>
