<!DOCTYPE html>
<html>
  <head>
    <title>Unity Benchmark Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="<%= ENV['GOOGLE_SITE_VERIFICATION_CODE'] %>" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: '/layouts/nav' %>
    <%= render partial: '/layouts/notices' %>
    <main role="main" id="wrap" class="container-fluid">
      <div class="top-pad" id="main-body">
        <%= yield %>
      </div>
    </main>
    <%= render partial: '/layouts/footer' %>
  </body>

  <script type="text/javascript">
    enableDefaultActions();
  </script>
</html>
